@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3247c5;
  --secondary-color: #28a745;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
